[user]
	name = moshee
	email = moshee@displaynone.us
	signingkey = F66B5DDA
[alias]
	co = checkout
	l = log --oneline --graph
	ll = log --oneline --graph --stat
	pullsub = submodule update --recursive --remote
[push]
	default = current
[color]
	ui = auto
[core]
	excludesfile = ~/.gitignore
